 #about  {
    font-size: 1.25rem;
    font-weight: bold;
}

.aboutInfo {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-areas: 
    "textArea"
    "imageArea";
}

.aboutTitle {
    display: flex;
    margin-bottom: 1.5rem;
}

.aboutImgDiv {
    margin-top: 20px;
    z-index: -1;
    max-width: 300px;
    text-align: center;
    grid-area: imageArea;
}

.aboutImg {
    border-top: 6px solid var(--light-blue);
    border-left: 6px solid var(--light-blue);
    padding-left: 10px;
    padding-top: 10px;
    width: 80%;
}

.aboutText > p {
    margin-bottom: 20px;
    font-size: 1rem;
}

.aboutText {
    grid-area: textArea;
}

@media (min-width: 768px) {
    .aboutInfo {
       grid-template-columns: 0.8fr 1.2fr;
       grid-template-areas: 
       "imageArea textArea";
       justify-content: flex-start;
    }
    .aboutImgDiv {
        margin-top: 4rem;
        text-align: left;
    }
    .aboutText {
        margin-top: 1rem;
    }
}

@media (min-width: 900px) {
    .aboutText > p{
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .aboutText > p{
        font-size: 1.2rem;
    }
}