.projectDiv {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 30px;
}
.projectInfo {
    width: 100%;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.appType {
    color: #D9F6FF;
    font-weight: normal;
    margin-bottom: 5px;
}
.projectName {
    color: var(--accent-color);
    margin-bottom: 5px;
}
.projectSummary {
    background-color: #005592;
    padding: 15px;
}
.projectImg {
    width: 100%;
    z-index: -1;
    margin-top: 10px;
}
.projectImg > img{
    width: 100%;
    height: 100%;
    z-index: -5;
}
.projectSummary > p {
    color: #D9F6FF;
}

.projectLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.projectTech {
    display: flex;
    justify-content: right;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
}
.projectInfo.left > .projectTech > li {
    padding: 10px 20px 10px 0px !important;
}
.projectTech > li {
    padding: 10px 0px 10px 20px;
    color: #D9F6FF;
    font-size: 12px;
}
.linkIcon {
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
}
.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.techLinkText{
    font-size: 10px;
}
.projectInfo.left > .projectTech {
    justify-content: flex-start !important;
    margin-right: auto;
    margin-left: 0;
}
.projectInfo.left > .links {
    justify-content: flex-start !important;
}
@media (min-width: 320px){
    .projectDiv {
        margin-bottom: 60px;
    }
}
@media (min-width: 360px){
    .projectDiv {
        margin-bottom: 100px;
    }
}
@media (min-width: 768px) {
    .appType {
        font-size: 24px;
    }
    .projectName {
        font-size: 36px;
    }
    .projectSummary {
        font-size: 24px;
    }
    .projectTech {
        width: 90%;
    }
    .projectTech > li {
        font-size: 16px;
    }
    .linkIcon {
        height: 40px;
        margin-right: 5px;
    }    
    .techLinkText{
        font-size: 18px;
    }
}
@media (min-width: 1024px) {
    .projectDiv {
        width: 80%;
        margin-top: 160px;
        margin-bottom: 220px;
    }
    .projectDiv:last-of-type{
        margin-bottom: 195px;
    }
    .projectImg {
        width: 55%;
        position: absolute;
        top: 0;
    }
    .projectInfo.right {
        margin-left: auto;
    }
    .projectImg.left {
        right: 0;
        text-align: left;
    }
    .projectSummary {
        width: 55%;
        margin-left: auto;
        height: 150px;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 20px;
    }
    .projectInfo.left > .projectSummary{
        margin-right: auto;
        margin-left: 0;
        padding-left: 20px;
    }
    .linkIcon {
        height: 50px;
    }
    .projectTech {
        font-size: 0.75em;
        width: 55%;
    }
} 