 .projectDiv {
    width: 70%;
    /* background-color: rgb(118, 156, 190); */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* height: 310px; */
    align-items: center;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 30px;
    /* z-index: -1; */
}


.left {
    text-align: left;
}
.right {
    text-align: right;
}

.appType {
    color: #D9F6FF;
    font-weight: normal;
    margin-bottom: 5px;
}

.projectName {
    color: #FF0A78;
    margin-bottom: 5px;
}

.projectSummary {
    background-color: #005592;
    padding: 15px;
}

.projectImg {
    width: 100%;
    /* background-color: #9fd7e9; */
    z-index: -1;
    /* height: 180px; */
    margin-top: 10px;
}

.projectImg > img{
    width: 100%;
    height: 100%;
    z-index: -5;
}

.projectSummary > p {
    color: #D9F6FF;
}

.projectLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}
.projectTech {
    display: flex;
    justify-content: right;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
}

.projectTech > li {
    padding: 10px;
    color: #D9F6FF;
    font-size: 12px;
}

.linkIcon {
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
}
.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.techLinkText{
    font-size: 10px;
}

.projectInfo.left > .projectTech {
    justify-content: flex-start !important;
    margin-right: auto;
    margin-left: 0;
}
.projectInfo.left > .links {
    justify-content: flex-start !important;
}
/* .projectLink{
    display: inline-block;
    padding-bottom: 20px;
    padding-top: 20px;
} */
/* .techLinkText{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
} */

@media (min-width: 768px) {
    .appType {
        font-size: 24px;
    }
    
    .projectName {
        font-size: 36px;
    }
    
    .projectSummary {
        font-size: 24px;
    }
    .projectTech {
        /* width: 70%; */
        width: 90%;
    }
    .projectTech > li {
        /* font-size: 12px; */
        font-size: 16px;
    }
    
    .linkIcon {
        height: 40px;
        margin-right: 5px;
    }    
    .techLinkText{
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
.projectDiv {
    width: 80%;
    margin-top: 60px;
    margin-bottom: 120px;
}
.projectDiv:last-of-type{
    margin-bottom: 95px;
}
.projectImg {
    width: 55%;
    /* height: 310px; */
    /* background-color: #4a5659; */
    position: absolute;
    top: 0;
}

.projectInfo.right {
    margin-left: auto;
}

.projectImg.left {
    right: 0;
    text-align: left;
}

.projectSummary {
    width: 55%;
    margin-left: auto;
    height: 150px;
    padding-top: 15px;
}

.projectInfo.left > .projectSummary{
    margin-right: auto;
    margin-left: 0;
}
/* .links{
    margin-top: 20px;
} */
.linkIcon {
    height: 50px;
}
.projectTech {
    font-size: 0.75em;
    width: 55%;
}
} 