#contact {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contactTitle > h2 {
    margin-bottom: 30px;
    font-size: 26px;
    text-align: center;
}

.contactTitle {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.formItem1 { grid-area: fullName; }
.formItem2 { grid-area: email; }
.formItem3 { grid-area: phone; }
.formItem4 { grid-area: message; }
.formItem5 { grid-area: send; }

.contactForm {
    display: grid;
    grid-template-areas:
      'fullName'
      'email' 
      'phone'
      'message'
      'send';
    gap: 20px;
    width: 75%;
    margin: 0 auto;   
}

.formItem1,
.formItem2,
.formItem3,
.formItem4 {
    background-color: #041129;
    border: 3px solid #0AC3FF;
    outline: none;
    border-radius: 15px;
    padding-left: 15px;
    width: 100%;
    color: #D9F6FF;
    z-index: 0; 
}

.formItem1,
.formItem2,
.formItem3 {
    height: 45px;
    font-size: 20px;
}

.formItem4 {
    padding-top: 5px;
    font-size: 20px;
}

::placeholder{
    color:#FF0A78;
    opacity: 0.65;
}

.sendEmail {
    width: 50%;
    height: 45px;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 20px;
    color: #FF0A78;
    background-color: #041129;
    border: 3px solid #FF0A78;
    text-align: center;
}
@media (min-width: 320px){
    .contactTitle > h2 {
        margin-bottom: 40px;
        font-size: 28px;
    }
}
@media (min-width: 360px){
    .contactTitle > h2 {
        margin-bottom: 60px;
        font-size: 30px;
    }
}


@media (min-width: 768px) {
    .contactForm {
        width: 65%;
    }
    
    .formItem1,
    .formItem2,
    .formItem3 {
        height: 50px;
        font-size: 22px;
    }

    .formItem4 {
        font-size: 22px;
    }
}


@media (min-width: 1024px) {
    .contactTitle > h2 {
        margin-bottom: 60px;
        font-size: 1.687em;
    }
    
    .contactTitle {
        padding-right: 25px;
    }

    .contactForm {
        grid-template-areas:
          'fullName phone'
          'email email'
          'message message'
          'send send';
        width: 56%;
    }

    .formItem1,
    .formItem2,
    .formItem3 {
        height: 60px;
        font-size: 22px;
    }

    .formItem4 {
        font-size: 22px;
    }

    .sendEmail {
        width: 130px;
        height: 55px;
        font-size: 26px;
    }
}
