header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #041129;
    font-size: 20px;
    z-index: 1;
    justify-content: right;
}

.active {
    font-weight: bold;
}

#logo {
    margin-right: auto;
    margin-left: 25px;
    margin-top: 25px;
    max-width: 80px;
    max-height: 80px;
}

.topnav{
    display: none;
}

.navBar > li {
    padding: 1.5vw;
    margin-top: 5vh;
}

.sidenav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sideModal {
    position: absolute;
    height: 100vh;
    background-color: #081e48;
    width: 70%;
    z-index: 9998;
}

.sideNavBar {
    padding-top: 20vh;
}

.sideNavBar > li {
    list-style-type: none;
    padding: 25px;
    padding-top: 5%;
    padding-left: 20%;
    font-size: 1.75em;
}

.navIcon {
    z-index: 9999;
    margin: 25px;
    padding: 10px 15px;
}

.navIcon > i {
    font-size: 50px;
    /* padding: 25px; */
    color: #FF0A78;
}

.navIconBorder{
    border: 3px solid #0AC3FF;
}

#sideBarResume {
    color: #FF0A78;
    background-color: #081e48;
    outline: none;
    padding: 15px 20px;
    font-size: 28px;
    border: 3px solid #FF0A78;
    text-decoration: none;
}

  
@media (min-width: 768px) {
    .navIcon {
        margin: 30px;
    }
    .sideModal {
        width: 60%;
    }
    .sideNavBar > li {
        padding-top: 10%;
        font-size: 1.75em;
    }
    .sideNavBar {
        padding-top: 15vh;
    }
}
@media (min-width: 1024px) {
    .sidenav {
        display: none;
    }
    .sideModal {
        display: none;
        visibility: hidden;
    }
    .topnav{
        display: flex;
        width: 100%;
    }
    .navBar {
        display: flex;
    }

    .navBar > li {
        padding: 15px;
        margin-top: 55px;
        font-size: 1.15em;
        list-style-type: none;
    }

    #topNavResume {
        color: #FF0A78;
        background-color: #041129;
        outline: none;
        padding: 10px 20px;
        font-size: 0.9em;
        border: 3px solid #FF0A78;
        text-decoration: none;
    }

    #topNavResumeLi{
       margin-top: 45px; 
       margin-right: 25px; 
    }
    
    #logo {
        margin-left: 35px;
        margin-top: 35px;
        max-width: 120px;
        max-height: 120px;
    }
}