 #projects{
    font-size: 1.25em;
	font-weight: bold;
    margin-top: 10vh;
}

.projectsTitle > h2 {
    margin-bottom: 30px;
    margin-left: 30px;
}

.projectsTitle {
    display: flex;
    width: 90%;
}

@media (min-width: 768px) {
    .projectsTitle > h2 {
        /* margin-left: 60px; */
        margin-left: 80px;
    }
}

@media (min-width: 1024px) {
    .projectsTitle {
        font-size: 1.125em;
        margin-bottom: 35px;
    }
    
    .projectsTitle > h2 {
        margin-left: 80px;
    }
}
