#projects {
	font-weight: bold;
}

.projectDiv {
    font-size: 1.25em;
}

.projectsTitle {
    display: flex;
    margin-bottom: 1rem;
}

@media (min-width: 320px){

}
@media (min-width: 360px){

}
@media (min-width: 768px) {

}
@media (min-width: 1024px) {

}

