#skills {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

.lineSplit {
    color: var(--light-blue);
}

.skillsTitle > h2 {
    margin-bottom: 30px;
}

.skillsTitle {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 0.5rem;
    text-align: center;
}

.skillsColumns {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

@media (min-width: 500px) {
    .skillsColumns {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }

    .skillsCard3 {
        grid-column: span 2;
        width: calc(50% - 0.75rem);
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .skillsColumns {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .skillsCard3 {
        grid-column: span 1;
        width: 100%;
    }
}