*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0AC3FF;
}

body::-webkit-scrollbar {
  display: none;
}

body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */background-color: #041129;
}

.number {
  color: #FF0A78;
}

/* .App {
  background-color: #041129;
} */

/* header section */
#logo {
  margin-right: auto;
  /* padding: 20px; */
  margin-left: 40px;
  margin-top: 3vh;
  margin-bottom: 30px;
  width: 160px;
  height: 160px;
}

header {
	display: flex;
	justify-content: right;
	/* background-color: #fff;  */
  font-size: 32px;
}

.navBar {
  display: flex;
  list-style-type: none;
}

.navBar > li {
  padding: 20px;
  margin-top: 5vh;
}

.active {
  font-weight: bold;
}

#resume {
  font-size: 32px;
  height: 70px;
  width: 165px;
  color: #FF0A78;
  background-color: #041129;
  outline: none;
  border: 3px solid #FF0A78;
  margin-top: 5vh;
  margin-left: 20px;
  margin-right: 40px;
}

/* general div */

/* .sectionDiv  {
	display: flex;
	height: 50vh;
	font-size: 32px;
	font-weight: bold;
} */

/* welcome section */

.intro {
  /* background-color: aliceblue; */
  display: flex;
  /* flex-wrap: wrap; */
  height: 75vh;
  justify-content: space-between;
}

.introText {
  width: 580px;
  margin-left: 12vw;
  margin-top: 25vh;
}

.introText > h2 {
  color: #0A99FF;
  font-size: 40px;
}

h1 {
  font-size: 64px;

}


.memoji {
  width: 400px;
  /* height: 1000px; */
  margin-right: 15vw;
  margin-top: 15vh;
}

.circles {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 30px;
	height: 30px;
	border: 3px solid #FF0A78;
	/* animation: animateUp 25s linear infinite; */
	bottom: calc(300px - 1vh);
}

.circles li:nth-child(1) {
	left: 5%;
	width: 80px;
	height: 80px;
	animation-duration: 20s;
  animation: animateOne 25s linear infinite alternate;
	border: 3px solid #FF0A78;
}

.circles li:nth-child(2) {
	left: 90%;
	width: 40px;
	height: 40px;
	animation-duration: 30s;
  animation: animateTwo 25s linear infinite;
	border: 3px solid #FF0A78;
}

.circles li:nth-child(3) {
	left: 70%;
  top: -5%;
	width: 30px;
	height: 30px;
	animation-duration: 20s;
  animation: animateThree 25s linear infinite;
	border: 3px solid #FF0A78;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-duration: 20s;
  animation: animateFour 25s linear 10s infinite normal;
	border: 3px solid #FF0A78;
}

.circles li:nth-child(5) {
	left: 0%;
  top: 25%;
	width: 40px;
	height: 40px;
	animation-duration: 20s;
  animation: animateFive 25s linear 0s infinite normal;
	border: 3px solid #FF0A78;
}


@keyframes animateOne {
	0% {
		transform: translate(0, -10vh) rotate(0deg);

	}
  50% {
		transform: translate(11vw, -75vh) rotate(240deg);

	}
	75% {
		transform: translate(40vw, -40vh) rotate(480deg);

	}
	100% {
		transform: translate(0vw, -10vh) rotate(720deg);

	}
}
@keyframes animateTwo {
	0% {
		transform: translate(0, -10vh) rotate(0deg);

	}
  40% {
		transform: translate(-80vw, -15vh) rotate(240deg);

	}
	75% {
		transform: translate(-40vw, -40vh) rotate(480deg);

	}
	100% {
		transform: translate(0vw, -10vh) rotate(720deg);

	}
}

@keyframes animateThree {
	0% {
		transform: translate(0, -10vh) rotate(0deg);

	}
  40% {
		transform: translate(-20vw, 40vh) rotate(180deg);

	}
	50% {
		transform: translate(-15vw, 50vh) rotate(360deg);

	}
  60% {
		transform: translate(-10vw, 40vh) rotate(540deg);

	}
	100% {
		transform: translate(-40vw, -10vh) rotate(720deg);

	}
}
@keyframes animateFour {
	0% {
		transform: translate(0, -10vh) rotate(0deg);
	}
  25% {
		transform: translate(-20vw, -30vh) rotate(180deg);
	}
	50% {
		transform: translate(0vw, -60vh) rotate(360deg);

	}
  75% {
		transform: translate(20vw, -30vh) rotate(540deg);

	}
	100% {
		transform: translate(0, -10vh) rotate(720deg);

	}
}
@keyframes animateFive {
	0% {
		transform: translate(-5vw, -10vh) rotate(0deg);

	}
  30% {
		transform: translate(80vw, 0vh) rotate(180deg);

	}
	40% {
		transform: translate(90vw, 10vh) rotate(360deg);

	}
  60% {
		transform: translate(75vw, 30vh) rotate(360deg);

	}

	100% {
		transform: translate(-5vw, 25vh) rotate(720deg);

	}
}

/* About section */

/* Skills section */

/* Projects section */

/* Contact section */