*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0AC3FF;
}


.App {
  background-color: #041129;
}

#logo {
  margin-right: auto;
}




.sectionDiv  {
	display: grid;
	place-items: center;
	height: 100vh;
	font-size: 32px;
	font-weight: bold;
}

header {
	display: flex;
	justify-content: right;
	background-color: #fff;
  font-size: 32px;
}

.number {
  color: #FF0A78;
}

#resume {
  font-size: 32px;
  height: 70px;
  width: 165px;
  color: #FF0A78;
  background-color: #041129;
  outline: none;
  border: 3px solid #FF0A78;
  margin-top: 10px;
}

#memoji {
  max-width: 400px;
}

.navBar {
  display: flex;
  list-style-type: none;
}

.navBar > li {
  padding: 20px;
}

.active {
  font-weight: bold;
}