*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0AC3FF;
}
:root {
  --accent-color: #FF0A78;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */background-color: #041129;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  position: relative;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

.line {
  background-color: var(--accent-color);
  opacity: 0.5;
  height: 3px;
  visibility: hidden;
}

@keyframes line {
  0% {flex-grow: 0}
  100% {flex-grow: 1}
}

.lineType1 {
  flex-grow: 1;
  margin-top: 25px;
  margin-left: 10px;
  z-index: -1;
  animation: line 2s;
}

.lineType2 {
  display: inline-block;
  flex-grow: 1;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 10px;
  z-index: -1;
  animation: line 2s;
}

.lineType3 {
  display: inline-block;
  flex-grow: 1;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 10px;
  z-index: -1;
  animation: line 2s;
}

.sideLine {
  background-color: var(--accent-color);
  opacity: 0.5;
  width: 3px;
  position: fixed;
  right: 15px;
  top: 120px;
  height: 100vh;
  z-index: -1;
}

.bottomLine {
  margin-top: 30px;
  margin-bottom: 15px;
  visibility: visible;
}

.number {
  color: var(--accent-color);
}

.introText {
  margin-left: 12vw;
  margin-top: 40vh;
}

.introText > h2 {
  color: #0A99FF;
  font-size: 24px;
  width: 90%;
}

h1 {
  font-size: 30px;
  width: 90%;
}

.memoji {
  object-fit: fill;
  text-align: center;
}

#memoji {
  margin-top: 20px;
  width: 80%;
}

.bottomLogo {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  position: relative;
}

.bottomLogo > img {
  width: 100%;
}
.bottomLinksDiv {
  width: 75%;
  margin: 0 auto;
  padding-left: 15px;
}
.bottomLinks {
  display: flex;
  list-style-type: none;
  margin-bottom: 15px;
  justify-content: center;
}
.bottomLinkImg {
  width: 80%;
  padding: 5px;
}

#gitHubIcon{
  width: 67px;
}

#mailIcon {
  width: 80%;
  margin-top: 2.5px;
}

#linkedInIcon{
  padding-top: 3px;
}
@media (min-width: 320px){
  .introText {
    margin-top: 25vh;
  }
  h1 {
    font-size: 36px;
  }  
  .bottomLinksDiv {
    width: 65%;
  } 
}
@media (min-width: 360px){
.introText {
  margin-top: 25vh;
}

.introText > h2 {
  font-size: 28px;
}

h1 {
  font-size: 40px;
}

.bottomLinksDiv {
  width: 50%;
}
}

@media (min-width: 500px){
  .line{
    visibility: visible;
  }
  #memoji {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .intro {
    margin-top: 75px;
  }

  .introText {
    grid-column: col-start / span 6;
    grid-row: 1;
  }

  .memojiSquaresArea {
    grid-column: col-start 7/ span 6;
    grid-row: 1;
    margin-right: 3.5vw;
    margin-top: 20vh;
  }

  .introText {
    margin-left: 80px;
  }

  .introText > h2 {
    font-size: 32px;
  }
  
  h1 {
    font-size: 56px;
  }
  
  #memoji {
    margin-top: 20px;
  }

  .sideLine {
    right: 30px;
  }
  
  .bottomLine {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .bottomLinks > li{
    width: 100px;
    margin-left: 20px;
  }
  #gitHubIcon{
    width: 90px;
    margin-left: 20px;
  }
  .bottomLinksDiv {
    width: 45%;
    padding-left: 0px;
  }
  #mailIcon {
    width: 65px;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  #linkedInIcon{
    width: 85px;
    padding-top: 3px;
  }
}

@media (min-width: 1024px) {
  .intro {
    margin-bottom: 100px;
    max-width: 1400px;
    margin: 0 auto;
  }
  #memoji {
    width: 60%;
    margin-top: 45px;
    margin-right: 55px;
  }
  .introText {
    margin-left: 10vw;
    margin-top: 25vh;
  }
  
  .introText > h2 {
    font-size: 36px;
  }
  
  h1 {
    font-size: 64px;
  }
  
  .memoji {
    margin-right: 5vw;
    margin-top: 16vh;
  }

  .aboutText {
    grid-column: col-start 6 / span 6;
    grid-row: 2;
  }

  .aboutImgDiv {
    grid-column: col-start / span 6;
    grid-row: 2;
  }
  
  .intro {
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .bottomLogo {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 1200px) {
  .introText {
    margin-left: 200px;
    margin-top: 230px;
  }
  .sectionDiv {
    max-width: 1400px;
    margin: 0 auto;
  }
  .bottomLogo {
    width: 80px;
    height: 80px;
  }
}